**/.DS_Store
__pycache__/
**/__pycache__/
*.py[cod]
*.csv
*.pkl
models/final/
experiments/models/
data/pcap/*.pcap
data/pcap/**/*.pcap
Log/
data/logs/
reports/training_runs/*.log
temp_extracted_flow.csv
outputs/
# virtual environments
venv/
.env/
env/
.venv/
venv_nids/
